.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 16px;
  border-bottom: 1px solid #ccc;
}

.main-header-title {
  font-size: var(--sm-fs);
}

@media (min-width: 576px) {
  .main-header-title {
    font-size: var(--md-fs);
  }
}

@media (min-width: 992px) {
  .main-header {
    padding: 32px;
  }
}
